<!--PAGE CREATE-->

<app-navbar></app-navbar>
  

    <!-- COMPONENT FORM -->
  <body>
    <div class="container mx-auto py-8 " >
      <!--BACKGROUND COLOUR-->
      <div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80" aria-hidden="true">
        <div class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-40 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%); background-color: rgba(255, 255, 255, 0.1);"></div>
      </div>
      <!-- END BACKGROUND COLOUR-->

        
      <h1 class="text-2xl font-bold mb-6 text-center">Let’s go grab our coffee! ☕️</h1>
        <form class="w-full max-w-sm mx-auto p-8 rounded-md shadow-md bg-gray-100">
   

            <div class="mb-4">
              <label class="block text-gray-700 text-sm font-bold mb-2" for="name">Name</label>
              <input class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:border-indigo-500"
              type="text" id="name" name="name" [(ngModel)]="formdata.name" >
            </div>
        
            <div class="mb-4 ">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="order">Order</label>
                <input class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:border-indigo-500"
                type="text" id="order" name="order" [(ngModel)]="formdata.order" >
            </div>
        
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="phone">Phone Number</label>
                <input class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:border-indigo-500"
                type="text" id="phone" name="phone"  [(ngModel)]="formdata.phone">
            </div>

            <!--Button Create-->
            <button
                class="w-full bg-indigo-500 text-white text-sm font-bold py-2 px-4 rounded-md hover:bg-indigo-600 transition duration-300"
                type="button" (click)="create()">Order
            </button>
        
        </form>
    </div>
  </body>